.card:hover {
  transition: all 0.3s ease-out;
  box-shadow: rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}

.card:hover .textAnimation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.card:hover .arrow {
  opacity: 100;
  transition-delay: 0.1s;
}

.textAnimation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.arrow {
  margin-left: 8px;
  opacity: 0;
}
