.card:hover {
  transition: all 0.3s ease-out;
  box-shadow: rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 3px solid #009ae0;
  background-color: white;
}

.title:after {
  content: "";
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #009ae0;
  z-index: -1;
}

.card:hover .textAnimation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.card:hover .arrow {
  opacity: 100;
  transition-delay: 0.1s;
}

.textAnimation:after {
  content: "";
  color: blue;
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(31, 41, 55);
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.arrow {
  margin-left: 8px;
  opacity: 0;
}
